html {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgb(255, 255, 255);
  background-image: url(https://raw.githubusercontent.com/yassh/a/master/subtlepatterns.com/retina_wood/retina_wood_%402X.png);
  background-size: 512px;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
